<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175060800952-pdul14mvb59ao9kqhe7sq0i2oljgcc8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175060800952-pdul14mvb59ao9kqhe7sq0i2oljgcc8q</string>
	<key>API_KEY</key>
	<string>AIzaSyC7JX34FEqFB4wPIrj35IfXwGpUXBGpWVk</string>
	<key>GCM_SENDER_ID</key>
	<string>175060800952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pokedex</string>
	<key>PROJECT_ID</key>
	<string>pokedex-app-975fe</string>
	<key>STORAGE_BUCKET</key>
	<string>pokedex-app-975fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175060800952:ios:68de93293f3918e5f9eb4d</string>
</dict>
</plist>